modules = ["nodejs-20", "python-3.12"]
run = "streamlit run dashboard.py --server.address 0.0.0.0"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "streamlit run dashboard.py --server.address 0.0.0.0"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 15627000
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run dashboard.py --server.address 0.0.0.0"

[[ports]]
localPort = 8501
externalPort = 80
